.singleBookWrapper {
    font-family:  'Poppins', sans-serif;
    width:400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 10px;
    /* border: solid 1px; */
    margin: 0px;
    padding: 3px 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.singleBookWrapper img {
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.singleBookWrapper h1 {
    margin:0px;
    padding-bottom: 20px;
}
